@import "./media.scss";
@import "./mixin.scss";

* {
  box-sizing: border-box;
}

body {
  @include themeInherit();
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

#__next {
  @include themeInherit();
  position: relative;
  width: 100vw;
  @include displayGrid();
}
