@import "./media.scss";

$border_width: 0rem;

@mixin template320 {
  grid-template-columns: 320px 1fr;
}

@mixin themeInherit {
  background-color: inherit;
  color: inherit;
  fill: currentColor;
}

@mixin singleColumn {
  grid-template-columns: 1fr;
}

@mixin nextGrid {
  @include media("screen", ">sMonitor") {
    display: grid;
    align-items: flex-start;
    @include template320();
  }
}

@mixin displayGrid {
  @include template320();
  display: grid;
  align-items: flex-start;
  @include media("screen", ">phone", "<sMonitor") {
    grid-template-columns: 1fr 2fr;
  }
  @include media("screen", "<phone") {
    @include singleColumn();
  }
}

@mixin stickyTop {
  position: sticky;
  @include media("screen", ">sMonitor") {
    top: $border_width;
  }
  @include media("screen", ">phone", "<sMonitor") {
    top: calc(#{$border_width} + 4rem);
  }
  @include media("screen", "<phone") {
    top: 4rem;
  }
}

@mixin stickyTopAside {
  position: sticky;
  @include media("screen", ">phone") {
    top: $border_width;
  }
  @include media("screen", "<phone") {
    top: 0;
  }
}
