@font-face {
  font-family: "Literata";
  font-display: block;
  src: url("/fonts/Literata/Literata-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 200 900;
}
@font-face {
  font-family: "Literata Italic";
  font-display: block;
  src: url("/fonts/Literata/Literata-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 200 900;
}
